*{
    background-color: #000000;
}
img { 
   
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid #fbf8fb;
  filter: drop-shadow(0 10px 15px #f0ecec); 
 display: block;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 250px
  
  

} 
h1 {
color: #fbf8fb;
  text-indent: 50px;
  text-align: center;
  letter-spacing: 3px; 
  font-size: 15px; 

} 
pre {    
    color: #fbf8fb;
    padding-top: 50px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
  letter-spacing: 3px;   
  font-size: 50px;
} 
